
#navegacion {
    background: #F9F9F9;
}
#navegacion a {
	color: #00c0d8;
}

#lateral {
	padding-top: 60px;
}
#datos {
	padding: 20px;
	padding-left: 36px;
	background-color: #00bcd4;
	color: white;
	border-radius: 10px;
}
#datos ul {
    padding-left: 0;
}
#datos li {
    list-style: none;
}
#datos #foto {
	border-radius: 100px;
    border: 6px solid white;
    color: white;
}
#datos #nombre {
	margin-top: 20px;
}


#contenido h2 {
    margin-top: 60px;
    color: #00bcd4;
}
#contenido h3 {
    color: #607d8b;
    margin: 6px 0;
}
#contenido h4 {
    font-weight: 300;
}
#contenido h4 span {
    font-size: 0.7em;
    color: #607d8b;
}


footer {
	background-color: #00bcd4;
	color: white;
}